.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed;
    width: 17.6%;
    height: 100vh;
    border-right: 1px solid rgba(155, 153, 153, 0.466);

    @media screen and (max-width: 770px) {
      background-color: var(--bg-color2);
      padding-top: 0;
      margin-top: 0;
      bottom: 0;
      width: 100%;
      height: 5vh;
      flex-direction: row;
      z-index: 99;
    }
  }
  
  .logo {
    padding-top: 0.9rem;
    .logo-small {
      display: none;
    }
    .logo-big {
      display: block;
      padding-top: .1rem;
    }
    @media screen and (max-width: 1200px) {
      margin: 0 auto;
      .logo-small {
        display: block;
      }
      .logo-big {
        display: none;
      }
    }
    & svg {
      color: var(--letter-color);
      fill: var(--letter-color);
    }
    @media screen and (max-width: 770px) {
      .logo-small {
        display: none;
      }
      .logo-big {
        display: none;
      }
      margin-top: 0;
      padding-top: 0;
    }
  }
  
  .side-menu {
    padding-left: 0;
    padding-top: 1.2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .menu-item {
      display: flex;
      gap: 1rem;
      padding: 0.5rem 0;
      transition: all 0.2s;
      & svg {
        color: var(--letter-color);
        fill: var(--letter-color);
      }
      & .profile-pic {
        border: 3px solid var(--letter-color);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
      &:hover {
        background-color: rgba(128, 128, 128, 0.137);
        border-radius: 0.3em;
        cursor: pointer;
        svg {
          transform: scale(1.1);
        }
      }
    }
    @media screen and (max-width: 1200px) {
      .menu-item {
        margin-left: auto;
        margin-right: auto;
      }
      .menu-item li {
        display: none;
      }
    }
  
    @media screen and (max-width: 770px) {
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 1rem;
      flex-direction: row;
      align-items: center;
      gap: 4.5rem;
  
      .desaparecen {
        display: none;
      }
      .menu-item {
        padding-top: .2rem;
      }
    }
    @media screen and (max-width: 555px) {
      gap: 2em;
    }
  }
  
  .burger-option {
    cursor: pointer;
    color: var(--letter-color);
    display: flex;
    gap: 0.95em;
    padding: 0.75rem 0;
    & svg {
      color: var(--letter-color);
    }
    @media screen and (max-width: 1200px) {
      margin-left: auto;
      margin-right: auto;
      span {
        display: none;
      }
    }
    @media screen and (max-width: 770px) {
      display: none;
    }
    &:hover {
      background-color: rgba(128, 128, 128, 0.137);
      border-radius: 0.3em;
    }
  }

.profile-letter-bold {
  font-weight: bold;
}
  
  .Non-Style {
    text-decoration: none;
    color: var(--letter-color);
    border: none;
    outline: none;
  }