@import "config/mixins";
@import "config/variables";
@import "base/base";
@import "layout/layout";
@import "theme/theme";
@import "components/sidebar.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/movilHeader.scss";
@import "components/userNavigation.scss";
@import "components/empy.scss";
@import "components/posts.scss";